#PBS -S /bin/bash
#PBS -e localhost:${pbs_output}
#PBS -o localhost:${pbs_output}
#PBS -j oe
#PBS -l ${resources}
#PBS -m ${send_email}
#PBS -M ${email}
#PBS -r n
#PBS -V
#PBS -N ${name}
cd ${cwd}
export PATH='${path}'
export PBS_NCPU=${cpu}
echo -E '==> Run command    :' "${cmd_echo}"
echo    '==> Execution host :' `hostname`
echo    '==> Job config     :' "${job_config}"

${job_setup}

${cmd}
